{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center justify-content-center vh-100">
            <div class="col-auto">
                <form action="{{ path('login') }}" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="Username">
                        <input type="password" class="form-control" name="_password" placeholder="Password">
                        <input type="hidden" name="_target_path" value="/admin">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                {% if error %}
                    <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
