{% extends 'base.html.twig' %}

{% block title %} {{ username }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="position-absolute">
            <h1 class="d-block mt-3">@{{ username }}</h1>
        </div>
        <div class="row align-items-center justify-content-center vh-100">
            <div class="col">
                {% for link in links %}
                    <a href="{{ link.url }}" target="_blank" class="link">{{ link.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <style>
        .link {
            display: block;
            text-align: center;
            text-decoration: none;
            border: 1px solid gray;
            padding: 10px;
            margin: 10px 0;
            color: white !important;
            background: #055160;
        }
    </style>
{% endblock %}
